* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
.main-content {
    width: 1024px;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
.btn {
    background: #1ebfc1;
    width: 108px;
    color: #1ebfc1;
    padding: 20px 40px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
}
a {
    text-decoration: none;
}
/* header */
.header {
    background: white;
    position: sticky;
    padding: 52px 0 62px 0;
    top: -40px;
    z-index: 1;
}
.header-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .sign-in {
    cursor: pointer;
}
.header .navbar a {
    color: #2f3a3b;

    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 20px;
}
.header .navbar-item:hover {
    font-weight: 600;
    text-decoration: underline;
}
.header .navbar a:first-child {
    color: #2f3a3b;

    font-size: 1.6rem;
    font-weight: 600;
}

.header .sign-in {
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}
.header .nut {
    padding: 15px 24px;
    color: #1ebfc1;
    background: #fff;
    margin-left: 24px;
}
/* hero */
.hero {
    margin-top: 62px;
}
.hero-wrap {
    display: flex;
    justify-content: space-between;
}

.hero .hero-left {
    width: 40%;
}
.hero .title {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}
.hero .main-content {
    color: #0d1111;
    font-size: 6.2rem;
    max-width: 458px;
    margin-top: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.129% */
}
.hero .desc-dai {
    color: #9da6a5;
    font-size: 1.8rem;
    max-width: 374px;
    margin-top: 46px;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}
.hero .hero-btn {
    display: inline-block;
    margin-top: 52px;
    width: 186px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.hero .vector {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero .arrow-vector {
    display: block;
    background: #fff;
    margin-top: 52px;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    width: 14px;
    height: 18px;
    object-fit: cover;
    margin-left: 50px;
}

/* hero-right  */
.hero-right {
    margin-left: 136px;
    flex: 1;

    position: relative;
}
.hero .hero-img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .decorate {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    top: 149px;
    left: -40px;
}
.hero .decorate::before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 40px;
    background-color: #ff8282;
    border-radius: 5px;
}
.hero .decorate::after {
    width: 28px;
    position: absolute;
    content: "";
    display: inline-block;
    height: 4px;
    background: white;
    border-radius: 4px;
    top: 42px;
    left: 28px;
}
.hero .gop {
    display: flex;
    flex-direction: column;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 16px;
}
.hero .growth {
    position: absolute;
    width: 124px;
    height: 132px;
    left: -65px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    top: 450px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .dash {
    display: inline-block;
    width: 26px;
    height: 6px;
    margin-top: 16px;
    border-radius: 3px;
    background: #edf1f5;
}

.hero .mt {
    margin-top: 16px;
}
.hero .avatar {
    padding: 17px 35px;
    position: absolute;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    right: 45px;
    bottom: 40px;
}
.hero .avatar-comment {
    width: 100px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}
.hero .avatar-list {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
}
.hero .avatar-img {
    width: 33px;
    margin-left: -7px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}
/* featue */
.feature {
    padding-top: 130px;
    margin-top: 79px;
}
.feature .feature-logo {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}
.feature .title {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    max-width: 577px;
    line-height: 1.34; /* 133.333% */
    margin-top: 18px;
}
.feature .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    max-width: 590px;
    margin-top: 18px;
}
.feature .feature-icon-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

/* .feature-icon-item {
    
} */
.feature .message {
    color: #0d1111;
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
}
.feature .feature-icon-list .desc {
    color: #9da6a5;

    font-size: 1.6rem;

    font-weight: 400;
    margin-top: 16px;
    line-height: 1.69; /* 168.75% */
}

.feature .feature-desc-01 {
    max-width: 168px;
}
.feature .feature-desc-02 {
    max-width: 223px;
}

.feature .feature-desc-03 {
    max-width: 224px;
}
/* courses */
.courses {
    padding: 65px;
    margin-top: 65px;
}
.courses.important {
    color: #767e7e;

    font-size: 1.2rem;

    font-weight: 700;
}
.courses .title {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    margin-top: 18px;
}
.courses .view-all {
    display: flex;
    align-items: center;
    margin-top: 19px;
    justify-content: space-between;
}
.courses .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    max-width: 525px;
    line-height: 1.78; /* 177.778% */
}

.courses .view {
    color: #1ebfc1;
    cursor: pointer;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}
.courses .courses-list {
    display: flex;
    align-items: center;
    gap: 47px;
    justify-content: space-between;
    margin-top: 79px;
}
.courses .courses-img {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    opacity: 1;
    background: #d0efed;
    object-fit: cover;
}
.courses .courses-img:hover {
    opacity: 0.9;
}
.courses .courses-item {
    position: relative;
}
.courses .name-courses {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 325px;
    height: 195px;
    bottom: -69px;
    left: 17px;
    padding: 18px 82px 29px 25px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.courses .courses-list-title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.courses .price {
    color: #767e7e;
    font-size: 1.6rem;
    margin-top: 16px;
    font-weight: 400;
}
.courses .money {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 16px;
}
.courses .courses-list-desc {
    margin-top: 6px;
    color: #9da6a5;

    font-size: 1.4rem;
    max-width: 218px;
    font-weight: 400;
}
.courses .skill {
    display: flex;
    margin-top: 18px;
    align-items: center;
    justify-content: space-between;
}

.courses .skill-img {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}
/* user */
.user {
    margin-top: 389px;
}

.user .user-list {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
}

.user .number-of-users {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}
.user .user-desc {
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 20px;
}
/* feedback */
.feedback {
    padding-top: 132px;
    margin-top: 132px;
}
.feedback-all {
    display: flex;
}

.feedback .feedback-desc {
    color: #5d6564;
    width: 419px;
    font-size: 3.2rem;
    margin-top: 27px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}
.feedback .author-job {
    display: flex;
    align-items: center;
    margin-top: 33px;
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}
.feedback .student {
    color: #070707;
    margin-left: 3px;
    font-size: 1.6rem;
    font-weight: 400;
}
.feedback .author-job::before {
    margin-right: 5px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    flex-shrink: 0;
    background: #070707;
}
.feedback .feedback-arrow {
    margin-top: 52px;
    display: flex;

    cursor: pointer;
    color: #fff;
}

.feedback .feedback-arrow-right {
    margin-left: 30px;
}

.feedback .feedback-right {
    margin-left: 72px;
    width: 679px;
    position: relative;
    height: 481px;
}
.feedback-left {
    margin: 37px 0;
    width: 419px;
    height: 407px;
}
.feedback .feedback-icon-1 {
    position: absolute;
    top: 107px;
    right: 171px;
    /* top: 22%;
    right: 23%; */
    width: 235px;
    height: 235px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback .feedback-icon-2 {
    position: absolute;
    top: 0;
    left: 144px;
    /* top: 0;
    left: 29%; */
    width: 92px;
    height: 92px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback .feedback-icon-3 {
    top: 19px;
    right: 0;
    /* top: 4%;
    
    right: 0; */
    position: absolute;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback .feedback-icon-4 {
    position: absolute;
    top: 258px;
    left: 0;
    width: 78px;

    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback .feedback-icon-5 {
    position: absolute;

    width: 78px;
    bottom: 0;
    left: 212px;

    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback .feedback-icon-6 {
    position: absolute;
    right: 32px;
    bottom: 29px;

    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}
/* calling */
.calling {
    height: 272px;
    position: relative;
    flex-shrink: 0;
    margin-top: 130px;
    background: #def6f5;
    padding: 76px 289px 88px 135px;
}
.calling-title {
    width: 420px;
    color: #070707;

    font-size: 4.2rem;

    font-weight: 700;
}
.calling-desc {
    width: 397px;
    color: #767e7e;
    margin-top: 27px;
    font-size: 1.8rem;

    font-weight: 400;
}

.calling-btn {
    width: 186px;
    position: absolute;
    top: 96px;
    right: 289px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 14px;
    text-align: center;
    background: #2ac9bf;
}
/* footer */

.footer .footer-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 130px;
    margin-bottom: 200px;
}

.footer .footer-title {
    color: #2e2e2e;

    font-size: 1.8rem;

    font-weight: 500;
}
.footer .title-icon {
    color: #535353;
    margin-top: 25px;

    font-size: 1.6rem;

    font-weight: 400;
}
.footer .footer-social-icon {
    display: flex;
}
.footer .footer-social {
    background: white;
    margin-top: 18px;
}

.footer .title-icon-social {
    margin-left: 9px;
    margin-top: 18px;
    color: #535353;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
}
.license-desc {
    color: #b0b5b4;
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.8rem;

    font-weight: 400;
}
